
.tablero {
    margin-top: 35px;
    margin-left: 50px;
    
}

td{
    background-color: aquamarine;
    height: 15px;
    width: 15px;
}

.pieza{
    background-color: blue;
}

.tetromino{
    background-color: blue;
}